<head>
  <meta charset="utf-8">
  <title>STAYSAFE</title>
  <link rel="stylesheet" href="../../assets/stylesheets/pages/_sessions.scss">
</head>
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <!-- Jumbotron -->
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Sign up now</h2>
            <form>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">First name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Last name</label>
                  </div>
                </div>
              </div>
              <!-- Email input -->
              <div class="form-outline mb-4">
                <%= f.input :email,
                required: true,
                autofocus: true,
                placeholder: "Enter Email",
                input_html: { autocomplete: "email" }%>
              </div>
              <!-- Password input -->
              <div class="form-outline mb-4">
                <%= f.input :password,
                required: true,
                placeholder:"Enter Password",
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                placeholder:"Enter Password Again",
                input_html: { autocomplete: "new-password" } %>
              </div>
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                <label class="form-check-label" for="form2Example33">
                  Subscribe to our newsletter
                </label>
              </div>
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Sign up
              </button>
              <!-- Register buttons -->
              <div class="text-center">
                <p>or sign up with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
                <p>You already have an account ?</p>
                <button type="submit" class="btn btn-primary btn-block mb-4">
                  <%= render "devise/shared/links" %>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="https://images.pexels.com/photos/1118877/pexels-photo-1118877.jpeg?cs=srgb&dl=pexels-monica-silvestre-1118877.jpg&fm=jpg" class="w-100 rounded-4 shadow-4"
          alt="sign up image" width="600" height="800"/>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
  <!-- Section: Design Block -->
  <div style="text-align:center">
    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
  </div>
</section>
<% end %>
