<div class="card-trip">
<%= cl_image_tag incident.photo.key, height: 140, width: 135, crop: :thumb if incident.photo.attached? %>
  <div>
      <h3><strong> <%= link_to " #{incident.title.upcase}", incident_path(incident.id) %></strong> <br> </h3>
    </div>
  <div class="card-trip-infos">

    <div class="body-card">
      <h5><i class="fas fa-map-pin"></i>   <%= incident.address %><br>
                  <i class="fas fa-edit"></i>   <%= incident.description.first(35) %><br>
                  <i class="fas fa-circle"></i>  <%= incident.incident_type.capitalize %><br>
                  <i class="far fa-calendar-alt"></i> <%= incident.date %><br></h5>
    </div>
  </div>
