<div class="dashboard">
  <div class="title">Recent Incidents</div>
    <div class="incidents">
      <% @incidents.each do |incident| %>
        <div class="incident card" style="width: 18rem;">
          <div >
            <p class="incident card-text">
                <%= incident.title %>
                <%= incident.address %>
                <%= incident.description %>
                <%= incident.incident_type %>
                <%= incident.time %>
                <%= incident.date %>
            </p>
          </div>
          </div>
       <% end %>

    <div class="btn btn-primary">
      <% if policy(Incident).create? %>
        <%= link_to "report an incident", new_incident_path %>
      <% end %>
    </div>
    </div>

  </div>
</div>


<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
