<h1>
use to report a incident page
</h1>
<%= simple_form_for (@incident) do |f| %>
    <div class="form-group ">
      <strong> <%= f.input :title %> </strong>
      <strong><%= f.input :type %></strong>
      <strong><%= f.input :time %></strong>
      <strong><%= f.input :date %></strong>
      <strong><%= f.input :description %></strong>
    </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
