 <!--
 <div class="incident-new">
  <%= simple_form_for (@incident) do |f| %>
    <div class="row-incident">
      <h3 class="incident-title" style="margin-left: 30px">Report an incident</h3>
      <div class="form-incident">
        <strong> <%= f.input :title %> </strong>
        <strong><%= f.input :incident_type %></strong>
        <strong><%= f.input :time %></strong>
        <%= f.input :photo, as: :file %>
        <strong><%= f.input :date %></strong>
        <strong><%= f.input :description %></strong>
        <strong><%= f.input :address, input_html: { data: { geocoder_target: "address" }, class:"d-none" },
              wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %></strong>

      </div>

    </div>
    <div class="text-center" style="margin-left: 50px">
      <input type="submit" value="Report an Incident" class="btn btn-submit"></div>
  <% end %>

  <div style="margin-left: -900px">
  <button type="button" class="btn btn-back"><%=  link_to 'Back', incidents_path %></button></div>
</div>
-->
<div class="myBackground">
  <div id="contact-form" style="width: 700px; height: 850px;">
    <div>
      <h1>Nice to Meet You!</h1>
    </div>
    <p id="failure">Oopsie...message not sent.</p>
    <p id="success">Your message was sent successfully. Thank you!</p>
    <%= simple_form_for (@incident) do |f| %>
      <div class="row-incident">
        <h3 class="incident-title" style="margin-left: -20px">Report an incident</h3>
        <div class="form-incident">
          <strong> <%= f.input :title %> </strong>
          <strong><%= f.input :incident_type %></strong>
          <strong><%= f.input :time %></strong>
          <%= f.input :photo, as: :file %>
          <strong><%= f.input :date %></strong>
          <strong><%= f.input :description %></strong>
          <strong><%= f.input :address, input_html: { data: { geocoder_target: "address" }, class:"d-none" },
              wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %></strong>
        </div>
      </div>
      <div class="text-center" style="margin-left: 0px">
        <input type="submit" value="Report an Incident" class="btn btn-back" style="
    width: 200px;
    margin-left: -40px;"></div>
    <% end %>
    <div style="margin-left: -590px">
      <button type="button" class="btn btn-back"><%=  link_to 'Back', incidents_path %></button></div>
  </div>
</div>
