<div class="show-background">
  <div class="container-show">
    <div class="row">
      <div class="col-10">
        <div class='text-center'>
          <h1 style="color: #030212b3;font-family: monospace;text-shadow: 3px 0px #00018d;">Yours incidents reported</h1>
          <%= cl_image_tag @incident.photo.key, height: 800, width: 1000, crop: :thumb if @incident.photo.attached? %>
          <div class="information">
            <div class="card-show w-100">
              <h3 class="card-title-show">General information</h3>
              <p><strong><%= @incident.title %> </strong></p>
              <p><i class="fas fa-map-pin"></i> <%= @incident.address %></p>
              <p><strong>Incident Type: </strong><%= @incident.incident_type %></p>
              <p><i class="far fa-clock"></i> <%= @incident.time %></p>
              <p><i class="far fa-calendar-alt"></i> <%= @incident.date %></p>
            </div>
            <div class="card-show w-100" style="height: 200px;">
              <h3 class="card-title-show">Description:</h3>
              <p class="card-text">
                <%= @incident.description %></p>
            </div>
          </div>
          <div class="card-show w-100" style="margin-left: 55px;">
            <strong>
              <p style="margin-right: 100px;">Location Information:</p>
            </strong>
            <div class="container" style="width: 100%; height: 600px;"
              data-controller="mapbox" data-mapbox-markers-value="<%= @markers.to_json %>"
              data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
          <div class="btn btn-info">
            <%= link_to 'Edit', edit_incident_path(@incident) %>
          </div>
          <div class="btn btn-info">
            <%= link_to 'Back', incidents_path %>
          </div>
          <button id="sweet-alert" class="btn btn-info"><%= link_to 'Destroy', incident_path(@incident), method: :delete, id: "delete-link", class: "hidden"%> this incident</button>


        </div>
      </div>
      <div class="col-2">
        <div class="logo-box">
          <div class="card-show" style="width: 14rem;background-color: #011E30;">
            <div class="card-img" style="text-align: center;">
              <img src="/assets/logo-be5c1e37a2ec66ceb869e99b6da404da4fb050884e712e72a4dc31b8b24f1844.png" style="width: 150px; height: 150px;">
            </div>
            <div class="container-content">
              <h2 class="card-title"> <strong> STAYSAFE </strong></h2>
              <p class="card-text">Get around the city without a care in the world.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
