<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <div class="staysafe-logo">
      <%= link_to "#", class: "navbar-brand" do %>
        <a class="navbar-brand" href="#"><%= image_tag "logo.png" %><a href="/" class="title">StaySafe</a></a>
      <% end %>
    </div>
    <div></div>
    <div></div>
    <div class="text-center">
      <div class="search-box">
<div id="geocoder" class = "geocoder"> </div>

      <div class="where">🔍︎ Where Would Like To Go?</div>

       </div>
    </div>
    <div></div>
    <div class="nav-options">
      <div class="nav-links-box">
<<<<<<< Updated upstream

        <a class="nav-link" href="#"> <%= link_to "Home", mainpages_path %></a>
        <a class="nav-link" href="#"> <%= link_to "About Us", abouts_path %></a>
        <a class="nav-link" href="#"><%= link_to "Alerts", incidents_path %> </a>
        <a class="nav-link" href="#"><%= link_to "Report incident", new_incident_path %></a>
=======
        <a type="button" class="btn btn-secondary btn-sm" href="/">Home</a>
        <a type="button" class="btn btn-secondary btn-sm" href="/abouts">About us</a>
        <a type="button" class="btn btn-secondary btn-sm" href="/incidents">Alerts</a>
        <a type="button" class="btn btn-secondary btn-sm" href="/incidents/new">Report incident</a>
>>>>>>> Stashed changes
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
          </li>
          <li class="nav-item dropdown">
            ▼<%= image_tag "https://upengenhariaej.com.br/wp-content/uploads/2020/10/1.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "See all Alerts", incidents_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
               </div>
          </li>
        <% else %>
          <div class="btn-login">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
