<head>
  <meta charset="utf-8">
  <title>STAY SAFE- a personal safety navigation network </title>
  <link rel="stylesheet" href="../../assets/stylesheets/pages/_sessions.scss">
</head>
<!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <!-- Jumbotron -->
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="signcard-body p-5 shadow-5 text-center"
          style="width: 600px; height: 800px;">
            <h2 class="fw-bold mb-5">WELCOME BACK</h2>
            <p>Welcome back! Please enter your details.</p>
            <form>
              <!-- Email input -->
              <div class="form-outline mb-4">
                <%= f.input :email,
                required: false,
                autofocus: true,
                placeholder: "Enter Email",
                input_html: { autocomplete: "email" } %>
              </div>
              <!-- Password input -->
              <div class="form-outline mb-4">
                <%= f.input :password,
                required: false,
                placeholder: "Enter Password",
                input_html: { autocomplete: "current-password" } %>
              </div>
              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-center mb-4">
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </label>
              </div>
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Login
              </button>
              <br>
              <button type="submit" class="btn btn-primary btn-block mb-4">
                <%= render "devise/shared/links" %>
              </button>
              <!-- Register buttons -->
              <div class="text-center">
                <p>or Login with:</p>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>
                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="https://images.pexels.com/photos/2868240/pexels-photo-2868240.jpeg?cs=srgb&dl=pexels-matheus-bertelli-2868240.jpg&fm=jpghttps://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" class="w-100 rounded-4 shadow-4"
          alt="login image" width="600" height="800" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>
<% end %>
<!-- Section: Design Block -->
